body {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h2 {
  color: #555;
  margin-top: 10px;
  font-size: 28px;
}

p {
  color: #666;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Стиль для постера фильма */
img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* Анимация для информации о фильме */
.movie-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.movie-info:hover {
  background-color: #f9f9f9;
  transform: translateY(-5px);
}

.movie-info p {
  margin: 5px 0;
}

.movie-info strong {
  color: #444;
}

/* Стилизация кнопок */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}